#_about {
    padding-top: 40px;
    padding-bottom: 40px;
    @media (min-width: 768px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .user {
        display: inline-block;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center 30%;
        background-size: cover;
        background-image: url('/img/profile.jpg');
        border: 2px solid white;
    }
    .userWrapper {
        margin-bottom: 20px;
    }
}