#_portfolioSummary {
    #Gallery > div {
        max-height: 400px;
        overflow: hidden;
    }
}

.react-photo-gallery--gallery {
    div.gallery-base-img-wrapper {
        cursor: pointer;
    }
}
