.service-box {
    max-width: 400px;
    margin: 16px auto 0;
    @media (min-width: 992px) {
        margin: 36px auto 0;
    }
    p {
        margin-bottom: 0;
    }
    svg {
        object-fit: contain;
        path {
            fill: #b3446c;
        }
    }
}
