
@import "./variables.scss";
@import "./mixins.scss";
@import "./global.scss";
@import "./bootstrap-overrides.scss";

section {
    .odd {
        background-color: $gray-lighter;
    }
}

#_portfolio #Gallery > div {
    max-height: 400px;
    overflow: hidden;
}