@import "../../scss/variables.scss";
@import "../../scss/mixins.scss";

.jumbotron {
    position: relative;
    min-height: 300px;
    border-radius: 0;
    width: 100%;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 35vh;

    @media (min-width: 768px) {
        height: 100vh;
        padding-bottom: 0 !important;
    }

    div {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        &.gatsby-image-wrapper {
            height: 35vh;

            @media (min-width: 768px) {
                height: 100vh;
            }

            transition: opacity 1s ease-in-out;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        &.opaque {
            opacity: 1;
            filter: alpha(opacity=1);
        }
    }
}
